---

---

<div
  id="masonry"
  class="grid grid-flow-dense grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4"
>
  <slot />
</div>

<script>
  import MasonrySimple from 'masonry-simple';

  const masonry = new MasonrySimple({
    container: '#masonry',
  });

  masonry.init();
</script>
