---
import { ViewTransitions } from 'astro:transitions';
import Navbar from '@components/Navbar.astro';

import '@styles/base.css';

interface Props {
  title?: string;
  description?: string;
}

const { title = 'Neptune Astro', description = 'Created by @lutfiandri' } =
  Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>

    <ViewTransitions />
  </head>
  <body>
    <Navbar />
    <main>
      <slot />
    </main>
  </body>
</html>
